<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Form</title>
    <link rel="stylesheet" href="../public/demostyle.css">
</head>
<body>
    <p style="max-width: 70vw; min-width: 10vw; margin: auto; margin-top: 5rem; font-size: larger; font-weight: 500; padding: 1rem; background-color: rgba(0, 128, 255, 0.404); letter-spacing: 0.04rem; border-radius: 5px; box-shadow: inset 0 0 8px 2px rgb(0, 153, 255); display: none;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sint rerum, explicabo tempora id itaque similique iure inventore quaerat, sed libero repellendus nesciunt? Pariatur, atque totam! Nam sit culpa alias maxime tempore voluptas magnam porro id animi dolorem perspiciatis, laudantium repudiandae cupiditate quis veritatis explicabo ipsum et! Consequuntur quos cumque recusandae ea molestias enim, quasi officiis ratione repudiandae. Vel placeat similique inventore totam veniam quia delectus eveniet reiciendis porro fugit. Iste molestiae laudantium, mollitia magni ad temporibus explicabo iure sint minima corporis nihil beatae ab. Adipisci inventore asperiores illum alias, at veritatis aut optio, rerum eum, consequuntur laboriosam reprehenderit ipsum?</p>
    <h2>Sample Form</h2>
    <form action="/" method="post">
        <label id="nm" for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
